header {
    display: flex;
    width: 100%;
}

header a img{
    width: 127%;
    z-index: 2;
}
body{
    margin: 0;
    padding: 0;
}
body img{
    justify-content: right;
}
main{
    background-image:url('image/https://arte1.ru/images/detailed/3/1799.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
